@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body{
overflow-x: hidden;
}
#navbar{
  z-index:1;
  position:fixed;
  width:100%;
  background-color:#467648;
  border-color: #467648;
  color: black;
}
.nav a{
    color: white !important;
    font-size: 1.0em !important;
    font-family: Merriweather,monospace !important;
    }
#abt h1{
    font-family:  serif;
    text-align: center;
    font-size: 1.8em !important;
    margin-top:5%;
}
#abt{
  background-color:#58F55E;
  padding:8% 0 10% 0;
  width:100%;
  opacity: 0.9;
}
#author{
  padding:10% 2% 10% 2%;
  width:100%;
  background-color:white;
}
#contact{
  width:100%;
  background-position: center;
  padding:3%;

}
#company{
  padding:5% 8% 10% 8%;
  width:100%;
  background-color:#ECF769;
  text-align:center;
  color:black;
  font-size:14px;
  font-family:  Merriweather,monospace;
  width:100%;
}
#author:focus{
  margin-left: 50%;
  margin-right: 50%;
}
li:hover{
  background-color:#8D8B8A;
}

#col1{
  margin-top: -8%;
  width: 100%;
  height:80%;
  color:white;
}
#desc{
  color:black;
  font-size:20px;
  font-family:  Merriweather,monospace;
  text-align:center;
  padding:0 2% 0 2%;
}
#book-row{
  padding:8% 0 0 0;
  text-align:center;
}
#but{
  padding:1% 10% 1% 10%;
  text-align:center;
  border-color:#AB103D;
  border-width:3px;
}
#but:hover{
  background-color:#56DAE3;
  border-color:#56DAE3;
}
#about-p h1{
    font-family: 'Anton', sans-serif;

}
#about-p{
  text-align:center;
  color:black;
  font-size:14px;
  font-family:  Merriweather,monospace;
  width:60%;
  padding:0 10% 2% 10%;
  margin:-5% 20% 0 20%;
}
#about-p img{
  border-radius:50%;
  text-align: center;
  width: 40%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#about-p img:hover{
  -webkit-transform: scale(1.5);
	transform: scale(1.5);
}
#contact_header{
  text-align:center;
  font-family: 'Anton', sans-serif;
  font-size:40px;
  color:black;
}

#contact_body{
  text-align:center;
  font-family:  Merriweather,monospace;
  font-size:16px;
}
#span1{
  color:red;
  font-size: 25px;
}
#span2{
  color:blue;
  font-size: 25px;
}
#foot{
  text-align: center;
  padding:2%;
  background-color: #AEB1B4;
  color: black;
  font-size: 15px;
}
#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
      color: #3a5876;
      background: #fff;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
      color: #e88845;
      background: #fff;
}
.sq
{
   border: 10px solid black;
    height: 200px;
    width: 17%;
    position:relative;
    margin-top:13%;
    margin-left:70%;
}
.sq1
{
   border: 10px solid black;
    height: 200px;
    width: 17%;
    position:relative;
    margin-top:-17%;
    margin-left:5%;
}
.tl
{
  position: absolute;
  top: -38%;
  left: -42%;
  border-left: 10px solid black;
  border-top: 10px solid black;
  height: 90%;
  width: 85%;
     transform: rotate(44deg);
    -webkit-transform: rotate(46deg);
    -moz-transform: rotate(44deg);
    -o-transform: rotate(44deg);
    transform-origin: 100% 100%;
}
.tl2
{
  position: absolute;
  top: -38%;
  left: -42%;
  border-left: 10px solid black;
  border-top: 10px solid black;
  height: 90%;
  width: 85%;
     transform: rotate(44deg);
    -webkit-transform: rotate(46deg);
    -moz-transform: rotate(44deg);
    -o-transform: rotate(44deg);
    transform-origin: 100% 100%;
}

body {
  background: rgb(70, 72, 75);
}

/* SWITCH */
.cube-switch {
    border-radius:10px;
    border:1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 8px rgba(0,0,0,0.6), inset 0 100px 50px rgba(255,255,255,0.1);
    /* Prevents clics on the back */
    cursor:default;
    display: block;
    height: 100px;
    position: relative;
    margin: 0% 0px 0px 20%;
    overflow:hidden;
    /* Prevents clics on the back */
    pointer-events:none;
    width: 100px;
    white-space: nowrap;
    background:#333;
}

/* The switch */
.cube-switch .switch {
    border:1px solid rgba(0,0,0,0.6);
    border-radius:0.7em;
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -7px 0 rgba(0,0,0,0.2),
    inset 0 50px 10px rgba(0,0,0,0.2),
    0 1px 0 rgba(255,255,255,0.2);
    display:block;
    width: 60px;
    height: 60px;
    margin-left:-30px;
    margin-top:-30px;
    position:absolute;
    top: 50%;
    left: 50%;
    width: 60px;

    background:#666;
    transition: all 0.2s ease-out;

    /* Allows click */
    cursor:pointer;
    pointer-events:auto;
}

.cube-switch.active .switch {
    background:#333;
    box-shadow:
    inset 0 6px 0 rgba(255,255,255,0.1),
    inset 0 7px 0 rgba(0,0,0,0.2),
    inset 0 -50px 10px rgba(0,0,0,0.1),
    0 1px 0 rgba(205,205,205,0.1);
}

.cube-switch.active:after,
.cube-switch.active:before {
    background:#333;
    box-shadow:
    0 1px 0 rgba(255,255,255,0.1),
    inset 1px 2px 1px rgba(0,0,0,0.5),
    inset 3px 6px 2px rgba(200,200,200,0.1),
    inset -1px -2px 1px rgba(0,0,0,0.3);
}

.cube-switch.active .switch:after,
.cube-switch.active .switch:before {
    background:#222;
    border:none;
    margin-top:0;
    height:1px;
}

.cube-switch .switch-state {
    display: block;
    position: absolute;
    left: 40%;
    color: #FFF;

    font-size: .5em;
    text-align: center;
}

/* SWITCH On State */
.cube-switch .switch-state.on {
    bottom: 15%;
}

/* SWITCH Off State */
.cube-switch .switch-state.off {
    top: 15%;
}

#light-bulb2 {
width: 150px;
height: 150px;
background: url(https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png) no-repeat 0 0;
}

#light-bulb {
position: absolute;
width: 150px;
height: 150px;
top: -3%;
left: 12%;
background: url(https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png) no-repeat -150px 0;
cursor: move;
z-index: 800;

}
#light-bulb1 {
  position: absolute;
width: 150px;
height: 150px;
  top: -3%;
left: 9%;
background: url(https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png) no-repeat 0 0;

}



.line.active {
height: 2px;
background: orange;
position: absolute;
top: 30%;
left: 20%;
  right:20%;
-webkit-animation: dude .75s 1 forwards;

-moz-animation: dude .75s 1 forwards;

-o-animation: dude .75s 1 forwards;

animation: dude .75s 1 forwards;

 }

     @-webkit-keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
