@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');

body{
overflow-x: hidden;
}
#navbar{
  z-index:1;
  position:fixed;
  width:100%;
}
#abt{
  background-color:white;
  padding:8% 0 10% 0;
  width:100%;

}
#author{
  padding:10% 2% 10% 2%;
  width:100%;
  background-image:url("../images/canvas.jpg");
  background-size: cover;
  background-position: center;
}
#contact{
  background-image:url("../images/wood.jpg");
  background-size: cover;
  padding:10% 2% 10% 2%;
  width:100%;
  background-position: center;

}
#author:focus{
  margin-left: 50%;
  margin-right: 50%;
}
li:hover{
  background-color:#8D8B8A;
}
#img {
  width:60%;
  margin: 0 1% 1% 20%;

	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#col2{
  padding: 8% 5% 1% 2%;

}
#desc{
  color:black;
  font-size:20px;
  font-family:  Merriweather,monospace;
  text-align:center;
  padding:0 2% 0 2%;
}
#book-row{
  padding:8% 0 0 0;
  text-align:center;
}
#but{
  padding:1% 10% 1% 10%;
  text-align:center;
  border-color:red;
  border-width:3px;
}
#but:hover{
  background-color:red;
  border-color:red;
}
#about-p{
  text-align:center;
  color:black;
  font-size:14px;
  font-family:  Merriweather,monospace;
  width:60%;
  padding:2% 10% 2% 10%;
  margin:0 20% 0 20%;
}
#about-p img{
  border-radius:50%;
  text-align: center;
  width: 40%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#about-p img:hover{
  -webkit-transform: scale(1.5);
	transform: scale(1.5);
}
#contact_header{
  text-align:center;
  font-family: 'Diplomata SC', cursive;
  font-size:40px;
  color:blue;
}
#contact_header:hover
{
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
#contact_body{
  padding:5%;
  text-align:center;
  font-family:  Merriweather,monospace;
  font-size:16px;
}
#span1{
  color:red;
  font-size: 25px;
}
#span2{
  color:blue;
  font-size: 25px;

}
